<!-- <ol>
	<%= render @parts %>
</ol> -->

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing all</h1>
		<h1 class="red-page-heading">Compatible Parts</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">		
		<%= render @parts %>
	</div>
</div>