
<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Add a New Compatible Part</h1>
		<h1 class="red-page-heading">What did you discover?</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
			
		<%= render 'form' %>
	</div>
</div>