<% provide(:title, "#{@user.username}") %>

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing The Profile Of</h1>
		<h1 class="red-page-heading"><%= gravatar_for @user %><%= @user.username %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="ninja-heading"><%= @user.username %>'s Email</div>
			<div class="ninja-outline part-less-padding"><%= @user.email %>
			</div>
		</div>
	</div>
</div>