<% provide(:title, "About") %>

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">About</h1>
		<h1 class="red-page-heading">The Parts Ninja</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<p>We're (and by we, I mean ME) are developing this app as I continually learn Ruby on Rails. This app is built entirely on RoR. Hopefully it'll be done soon and we'll have lots of people interested!</p>
		</div>
	</div>
</div>