<% provide(:title, "Blog") %>

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Blog</h1>
		<h1 class="red-page-heading">The Parts Ninja</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<p>Useful tips and tricks. That sort of thing.</p>
		</div>
	</div>
</div>

