<% provide(:title, "Contact") %>

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Contact</h1>
		<h1 class="red-page-heading">The Parts Ninja</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<p>Some cool contact form will go in here. For the time being, email me here! janik@janikknittle.comw</p>
		</div>
	</div>
</div>

