<% provide(:title, "Help") %>

<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Help</h1>
		<h1 class="red-page-heading">The Parts Ninja</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<p>Here's how to get in contact for help. Watch this video, follow this guide. Etc</p>
		</div>
	</div>
</div>