<div class="nested-fields">
	<%= f.input :content, placeholder: 'Please walk us through this step', input_html: { class: 'form-control input-lg dark-input'  } %>
	<%= link_to_remove_association "Remove Step", f %>
</div>