<div class="nested-fields">
	<%= text_field :content, input_html: {class: "form-input form-control input-sm dark-input"} %>
	<%= link_to_remove_association "remove step", f, class: "form-button btn btn-default" %>
	<br>
</div>