<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Edit your Discovery</h1>
		<h1 class="red-page-heading">Do it NAO</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">	
		<%= render 'edit_form' %>
	</div>
</div>