<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">So you discovered something</h1>
		<h1 class="red-page-heading">Create a Discovery</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">	
		<%= render 'form' %>
	</div>
</div>