
<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing All Vehicles in the </h1>
		<h1 class="red-page-heading">Compatible Database</h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">	
		<table class="table table-hover">
    		<thead>
    			<tr>
			        <th>Vehicle Id</th>
			        <th>Year</th>
			        <th>Make</th>
			        <th>Model</th>
			        <th>View</th>
              		<th>Delete</th>
		      	</tr>
    		</thead>
    		<tbody>
    			<%= render @vehicles %>
			</tbody>
  		</table>
	</div>
</div>