<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading"><%= yield(:subheading) %></h1>
		<h1 class="red-page-heading"><%= yield(:heading) %></h1>
		<div class="header-border"></div>
	</div>
	<%= yield %>
</div>