<% if @search %>
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="intro-what">What are you</h2>
                        <h1 class="brand-heading">Looking for?</h1>
                        <section class="search">
                            <form action="" method="">    
                                <div class="something"></div>      
                                <input type="search" placeholder="Year">
                                <input class="second" type="search" placeholder="Make">
                                <input class="second" type="search" placeholder="Model">
                                <input class="second" type="search" placeholder="What part?">
                                <button>Search</button>
                            </form>
                        </section>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<% else %>
<header class="intro header-positioning">
    
</header>
<% end %>